.primary_color{
    -fx-background-color: #181818;
}

.secondary-color{
    -fx-background-color: #121212;
}

.selected{
    -fx-border-color: #1ED760;
    -fx-border-width: 0 0 0 5
}

.top-border{
    -fx-border-color: #A1A1A1;
    -fx-border-width: 1 0 0 0;
}

.search-container{
    -fx-background-color: #fff;
    -fx-background-radius: 100;
}

.upgrade-button{
    -fx-background-color: rgba(0,0,0,0);
    -fx-border-color: #fff;
    -fx-border-radius: 50;
}

.scroll-pane > .viewport{
    -fx-background-color: #181818;
}

#playlistTableView {
    -fx-background-color: #1a1a1a;
}

.column-header-background {
    -fx-background-color: #222222;
}

.column-header {
    -fx-text-fill: #e0e0e0;
}

.table-row-cell {
    -fx-background-color: #2b2b2b;
    -fx-text-fill: #e0e0e0;
}

.table-row-cell:odd {
    -fx-background-color: #242424;
    -fx-text-fill: #e0e0e0;
}

.table-row-cell:selected {
    -fx-background-color: #0F5900;
}

.table-row-cell:hover {
    -fx-background-color: #0A3D00;
}

.table-cell {
    -fx-alignment: CENTER;
}

.table-cell:empty {
    -fx-background-color: transparent;
    -fx-text-fill: #e0e0e0;
}

.table-column {
    -fx-border-width: 0.5;
    -fx-border-color: #292929;
    -fx-text-fill: #e0e0e0;
}
